@charset "utf-8";

html, body{height:100%;font-family: 'score', sans-serif;}
/* 에스코어드림 */
@font-face {
	font-family: 'score';
	font-style: normal;
	font-weight: 100;
	src:url('font/S-CoreDream-1Thin.eot');
	src:url('font/S-CoreDream-1Thin.eot?#iefix') format('embedded-opentype'),
	url('font/S-CoreDream-1Thin.woff') format('woff'),
	url('font/S-CoreDream-1Thin.woff2') format('woff2'),
	url('font/S-CoreDream-1Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'score';
	font-style: normal;
	font-weight: 200;
	src:url('font/S-CoreDream-2ExtraLight.eot');
	src:url('font/S-CoreDream-2ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('font/S-CoreDream-2ExtraLight.woff') format('woff'),
	url('font/S-CoreDream-2ExtraLight.woff2') format('woff2'),
	url('font/S-CoreDream-2ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'score';
	font-style: normal;
	font-weight: 300;
	src:url('font/S-CoreDream-3Light.eot');
	src:url('font/S-CoreDream-3Light.eot?#iefix') format('embedded-opentype'),
	url('font/S-CoreDream-3Light.woff') format('woff'),
	url('font/S-CoreDream-3Light.woff2') format('woff2'),
	url('font/S-CoreDream-3Light.ttf') format('truetype');
}

@font-face {
	font-family: 'score';
	font-style: normal;
	font-weight: 400;
	src:url('font/S-CoreDream-4Regular.eot');
	src:url('font/S-CoreDream-4Regular.eot?#iefix') format('embedded-opentype'),
	url('font/S-CoreDream-4Regular.woff') format('woff'),
	url('font/S-CoreDream-4Regular.woff2') format('woff2'),
	url('font/S-CoreDream-4Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'score';
	font-style: normal;
	font-weight: 500;
	src:url('font/S-CoreDream-5Medium.eot');
	src:url('font/S-CoreDream-5Medium.eot?#iefix') format('embedded-opentype'),
	url('font/S-CoreDream-5Medium.woff') format('woff'),
	url('font/S-CoreDream-5Medium.woff2') format('woff2'),
	url('font/S-CoreDream-5Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'score';
	font-style: normal;
	font-weight: 600;
	src:url('font/S-CoreDream-6Bold.eot');
	src:url('font/S-CoreDream-6Bold.eot?#iefix') format('embedded-opentype'),
	url('font/S-CoreDream-6Bold.woff') format('woff'),
	url('font/S-CoreDream-6Bold.woff2') format('woff2'),
	url('font/S-CoreDream-6Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'score';
	font-style: normal;
	font-weight: 700;
	src:url('font/S-CoreDream-7ExtraBold.eot');
	src:url('font/S-CoreDream-7ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('font/S-CoreDream-7ExtraBold.woff') format('woff'),
	url('font/S-CoreDream-7ExtraBold.woff2') format('woff2'),
	url('font/S-CoreDream-7ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'score';
	font-style: normal;
	font-weight: 800;
	src:url('font/S-CoreDream-8Heavy.eot');
	src:url('font/S-CoreDream-8Heavy.eot?#iefix') format('embedded-opentype'),
	url('font/S-CoreDream-8Heavy.woff') format('woff'),
	url('font/S-CoreDream-8Heavy.woff2') format('woff2'),
	url('font/S-CoreDream-8Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'score';
	font-style: normal;
	font-weight: 900;
	src:url('font/S-CoreDream-9Black.eot');
	src:url('font/S-CoreDream-9Black.eot?#iefix') format('embedded-opentype'),
	url('font/S-CoreDream-9Black.woff') format('woff'),
	url('font/S-CoreDream-9Black.woff2') format('woff2'),
	url('font/S-CoreDream-9Black.ttf') format('truetype');
}
.container{
  display: flex;
  flex-direction: column;
  height:100%;
}

.layout{
  flex:1;
  align-items: center;
}
.login{
  background-image:url('../images/login_bg.jpg');
  background-size: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height:100%;
}
.login_logo{
  margin-bottom:30px;
}

.login_icon{
  vertical-align: middle;
  margin-right:10px;
  margin-top:-6px;
}
.btn{
  background:#fff;
  align-items: center;
  justify-content: center;
  width:300px;
  text-align: center;
  border-radius:30px;
  font-size:15px;
  font-weight:500;
  padding-top:14px;
  padding-bottom:10px;
  margin-bottom:14px;
}

.login_join{
  display:flex;
  margin-top:30px;
  justify-content: center;
  width:300px;
  text-align: center;
}

.txt_wh{
  color:#fff;
  font-weight:500;
}
.line{
  width:1px;
  height:14px;
  background-color:#fff;
  margin-left:20px;
  margin-right:20px;
  margin-top:4px;
}
